<h2>Send an Arrow</h2>

<%= form_for(@arrow) do |f| %>

  <div class="field">
    <%= f.label :destination %><br />
<<<<<<< HEAD
    <%= f.select :destination, options_from_collection_for_select(@users, :id, :name), :id => 'user_destination' %>
=======
    <%= f.select :destination, options_from_collection_for_select(@users, :id, :name) %>
>>>>>>> 44524c6c7d2f878cb9667d1547a5fca000b40e68
  </div>

  <div class="field">
    <%= f.label :reason %><br />
    <%= f.text_field :reason, autocomplete: "reason" %>
  </div>

  <div class="actions">
    <%= f.submit "Send arrow" %>
  </div>
<% end %>
